html {
  height: 100%;
  position: relative; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto; }

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

#section0 {
  background-color: transparent !important; }

.pg1-container > img {
  cursor: pointer;
  margin-top: 4%;
  margin-bottom: 9.6%; }

.below-video {
  min-height: 12%;
  padding-top: 1%;
  position: fixed;
  width: 100%;
  bottom: 0; }

.below-video img {
  margin-top: 3px; }

*, ::after, ::before {
  box-sizing: border-box; }

/* typography  */
h1, h2, h3, h4, h5, h6, p, ul, li, footer, small {
  font-family: Avenir Next, 'Roboto', arial, helvetica;
  line-height: 1.35; }

/* --- font-sizing; major third, 5:6  or 1.25. ------  */
h1 {
  font-size: 3.815rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
  text-align: left !important; }

#section0 h1 {
  margin-bottom: 0px;
  line-height: 5.6rem;
  font-weight: 600; }

.col-two h1 {
  margin: 0 auto;
  margin-bottom: 1.4rem;
  line-height: 4.12rem; }

.pg1-container h1 {
  margin: 18rem auto 40px auto;
  text-align: center !important; }

#v-two-panel h1, #v-three-panel h1 {
  font-size: 3.3rem; }

#v-two-panel h1 {
  width: 80%;
  margin-bottom: .5rem;
  font-weight: 600; }

h2 {
  font-size: 2.441rem;
  color: #fff;
  font-weight: 300; }

#section0 h2 {
  margin-top: 0;
  font-size: 2rem;
  letter-spacing: -0.015em;
  font-weight: 400; }

.below-video h2 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.953rem; }

#v-two-panel h3 {
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  width: 80%;
  color: #fff; }

#v-two-panel > h3 {
  width: 50%; }

.pg1-container p {
  margin: 0 auto;
  /*text-align: left;*/
  width: 80%;
  font-size: 1.314rem;
  color: #fff;
  font-weight: 200; }

#v-two-panel p, #v-three-panel p {
  margin: 0 auto;
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.67rem;
  color: #fff;
  text-align: left !important;
  margin-bottom: 0.97rem; }

#v-three-panel h1, #v-three-panel p {
  /*  width: 80%;*/ }

#v-three-panel p.bt {
  padding-left: 12%;
  height: 50px;
  margin-bottom: 0; }

#v-two-panel p {
  width: 80%; }

footer > p {
  font-size: 0.7rem !important;
  line-height: 1rem !important;
  margin-bottom: 15px !important; }

#slide1 p a, #slide1 p a:link, #slide1 p a:visited {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1px;
  border-bottom: 1px solid; }

.below-video ul li {
  display: inline-block;
  font-size: 1.32rem;
  font-weight: 400;
  color: #fff;
  padding: 0 4px; }

.below-video ul li:after {
  content: "|";
  padding-left: 10px; }

@media all and (min-width: 1px) and (max-width: 767px) {
  .below-video ul li:after {
    display: none; } }

.below-video ul li:nth-last-of-type(1):after {
  display: none; }

.pg1-container small {
  width: 98%;
  display: block;
  color: #fff;
  font-size: .8rem;
  font-weight: 400; }

/* font equalization */
/* safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  h2 {
    font-weight: 400; } }

/* -------------- errata * ------------ */
/*.pg1-container {
  max-width: 95%;
}*/
.section {
  text-align: center; }

/* ------ header styles ------- */
header {
  /*  position: fixed;
  top: 1px;*/ }

.header--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1); }

.headroom--pinned {
  display: block; }

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform,opacity; }

.animated.slideDown {
  -webkit-animation-name: slideDown;
  animation-name: slideDown; }

.headroom--unpinned {
  display: none; }

.header-logos {
  width: 38%;
  height: 123px;
  -o-object-fit: contain;
     object-fit: contain; }

/* Layout */
div.below-video {
  background-image: -webkit-radial-gradient(50% 5%, circle, #3f5a6b, #363636);
  background-image: radial-gradient(circle at 50% 5%, #3f5a6b, #363636); }

#slide1 {
  background-image: -webkit-radial-gradient(50% 5%, circle, #3f5a6b, #363636);
  background-image: radial-gradient(circle at 50% 5%, #3f5a6b, #363636); }

#section2 {
  background-image: -webkit-radial-gradient(50% 5%, circle, #3f5a6b, #363636);
  background-image: radial-gradient(circle at 50% 5%, #3f5a6b, #363636); }

#section2 .intro {
  margin-top: -70px; }

.three-two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.col-one {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 25px; }

.col-two {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 490px; }

.nav-down-arrow {
  margin: inherit; }

#v-three-panel {
  width: 100vw;
  margin: 0 auto; }

#v-three-panel .col-two {
  padding: 0 20px; }

/*experiment*/
#slide1 .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21vh;
  margin-bottom: 24vh; }

#slide1 .two-two-col {
  display: -webkit-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.img-txt img {
  margin-top: 20px; }

/* Overwriting styles for right menu  */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #fff; }

#fp-nav.right {
  right: 20px; }

/* ----------- */
/* ------------ elements --------------- */
.col-two a, .col-two a:link, .col-two a:visited {
  text-decoration: none;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 300 !important; }

button {
  margin: 0 0 10px -50px;
  margin-top: 5px;
  width: 230px;
  height: 40px;
  border-radius: 65px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 1.2em;
  font-weight: normal;
  font-weight: 100 !important;
  border-style: solid; }

button:hover {
  background-color: #4a5e69;
  cursor: pointer;
  color: #fff; }

.play-button {
  position: absolute;
  left: 21.95vw;
  top: 30%;
  width: 125px;
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.75; }

img.play-button:hover {
  opacity: 100%;
  width: 125px;
  height: 125px;
  border-radius: 99px;
  background: rgba(227, 227, 227, 0.4); }

.play-button a {
  display: block;
  width: 130px;
  height: 130px;
  margin-top: 35px;
  margin-left: 47px; }

.macbook-dev-portal {
  -o-object-fit: contain;
     object-fit: contain; }

/* Bottom menu
* -------------------------- */
#infoMenu li a {
  color: #fff; }

/* footer */
footer {
  min-height: 100px;
  padding: 25px;
  background-color: #686868;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /*display: flex;*/
  /*-webkit-flex-flow: row wrap;*/
  -ms-flex-pack: distribute;
      justify-content: space-around; }

footer p {
  padding-left: 20px;
  text-align: left;
  width: 45% !important;
  color: #e6e6e6;
  font-weight: 400 !important;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/ }

.v-navigation {
  padding-top: .75rem;
  font-size: 0.9rem;
  font-weight: 400;
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-flex-flow: row wrap;*/
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.v-navigation, .v-navigation a {
  color: white; }

li.empty {
  padding-top: .5rem; }

.v-navigation a {
  text-decoration: none;
  display: block;
  padding: .5rem .7rem; }

.v-navigation a:hover {
  background: #6f6f6f; }

/* -------- modal --------------- */
.reveal {
  margin-top: 10px;
  top: 50px !important; }

/* --------- responsive ----------- */
@media all and (max-width: 800px) {
  .v-navigation {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media all and (max-width: 600px) {
  .v-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 0; }
  .v-navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .v-navigation li:last-of-type a {
    border-bottom: none; } }

@media all and (max-width: 598px) {
  ul.v-navigation {
    margin-top: 20px;
    width: 95%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .v-navigation a {
    padding: 1.8em; }
  li.empty {
    display: none; } }

/* ------------ phone 320 ------------ */
@media all and (max-width: 374px) {
  .header--fixed {
    height: 45px; }
  .header-logos {
    height: 45px; }
  .pg1-container {
    max-width: 100%; }
  #fp-nav {
    top: 9%; }
  #fp-nav.right {
    right: -60px; }
  #fp-nav ul li .fp-tooltip.right {
    top: 8px; }
  #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span {
    margin: 2px 0 0 -7px;
    height: 18px;
    width: 18px; }
  #fp-nav ul li a span {
    margin-top: 9px;
    margin-left: 0; }
  a.helpLink {
    top: 15%;
    right: 40%; }
  a.helpLink:before {
    bottom: calc(-1pt - -10px); }
  .helpLink:after {
    right: 40%; }
  .play-button, .play-button img {
    width: 55px;
    height: 55px; }
  #section0 h1 {
    margin: -65px auto 15px auto;
    width: 90%;
    font-size: 2.8rem;
    line-height: 3rem; }
  #section0 h2 {
    margin: auto;
    width: 90%;
    font-size: 1.6rem; }
  #section0 small {
    font-size: .6rem; }
  .below-video {
    bottom: 0;
    height: 18%; }
  .below-video ul {
    margin-top: 15px;
    margin-bottom: 3px;
    padding-left: 0; }
  .below-video ul li {
    font-size: .8rem; }
  /* ------ 2nd panel ------*/
  #slide1 .two-two-col {
    display: block; }
  .nav-down-arrow {
    margin-top: 20px; }
  .col-one {
    margin-top: -100px;
    margin-bottom: -2px; }
  .col-two {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    width: 100%; }
  #v-two-panel h1, #v-three-panel h1 {
    margin-top: 18px;
    margin-bottom: 6px;
    font-size: 2.3rem;
    line-height: 1.6rem; }
  #v-three-panel h1 {
    line-height: 2.6rem; }
  #v-two-panel h3 {
    font-size: .9rem;
    line-height: 1.2rem;
    margin-bottom: .6rem; }
  #v-two-panel p, #v-three-panel p {
    margin-bottom: 15px;
    font-size: .8rem;
    line-height: 1.2rem; }
  /* ------- 3rd panel ------- */
  #section2 .intro {
    margin-top: -120px; }
  #v-three-panel {
    width: 100vw; }
  #v-three-panel .col-one {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 60px; }
  #v-three-panel .col-two {
    height: 50vh;
    width: 66%;
    padding: 0;
    margin: 0 auto; }
  button {
    width: 160px;
    margin-bottom: 34px;
    margin: inherit;
    border: 1px solid;
    font-size: 0.9rem;
    height: 30px; }
  footer {
    height: 90px;
    padding: 5px; }
  footer p {
    padding-left: 0;
    font-size: 6px !important;
    line-height: 8px !important; }
  ul.v-navigation {
    display: inline-table;
    width: 20%;
    margin-top: 8px;
    border-bottom: none; }
  ul.v-navigation li {
    display: block;
    width: 100%;
    border-bottom: none;
    line-height: 18px; }
  ul.v-navigation li.empty {
    display: none;
    height: 0; }
  .v-navigation a {
    padding: 0;
    font-size: 8px;
    border-bottom: none; }
  .v-navigation li:first-child a {
    border-top: none; } }

/* -------- end phone 320-374 ----- */
@media all and (min-width: 360px) and (max-width: 374px) {
  #section0 h1, #section0 h2 {
    width: 80%; }
  .below-video {
    height: 16%; }
  .below-video ul {
    margin-bottom: 0; }
  .below-video ul li {
    display: block;
    font-size: .9rem;
    line-height: 1.5rem; }
  /* ------ 2nd panel ------*/
  #slide1 .two-two-col {
    display: block; }
  .nav-down-arrow {
    margin-top: 20px; }
  .col-one {
    margin-top: -100px;
    margin-bottom: 15px; }
  .col-two {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    width: 100%; }
  #v-two-panel h1 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 2.3rem;
    line-height: 1.6rem; }
  #v-two-panel h3 {
    font-size: .9rem;
    line-height: 1.2rem;
    margin-bottom: .6rem; }
  #v-two-panel p {
    margin-bottom: 10px;
    font-size: .8rem;
    line-height: 1.2rem; }
  /* ------- 3rd panel ------- */
  /* ------- 3rd panel ------- */
  #section2 .intro {
    margin-top: -120px; }
  #v-three-panel {
    width: 100vw; }
  #v-three-panel .col-one {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: -15px;
    margin-left: -15px; }
  #v-three-panel .col-two {
    padding: 0;
    margin: 0 auto; }
  button {
    margin-bottom: 34px;
    margin-left: -38px; }
  footer {
    height: 90px;
    padding: 5px; }
  footer p {
    padding-left: 0;
    font-size: 6px !important;
    line-height: 8px !important; }
  ul.v-navigation {
    display: inline-table;
    width: 20%;
    margin-top: 8px; }
  ul.v-navigation li {
    display: block;
    width: 100%;
    border-bottom: none;
    line-height: 18px; }
  ul.v-navigation li.empty {
    display: none;
    height: 0; }
  .v-navigation a {
    padding: 0;
    font-size: 8px;
    border-bottom: none; } }

/* ------- phone 375-414-------*/
@media all and (min-width: 375px) and (max-width: 414px) {
  .fp-tableCell {
    height: 667px !important; }
  .header--fixed {
    height: 60px; }
  .header-logos {
    height: 60px; }
  .pg1-container {
    max-width: 100%; }
  #fp-nav {
    top: 9%; }
  #fp-nav.right {
    right: -200px; }
  #fp-nav ul li .fp-tooltip.right {
    top: 8px; }
  #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span {
    margin: 2px 0 0 -7px;
    height: 18px;
    width: 18px; }
  #fp-nav ul li a span {
    margin-top: 9px;
    margin-left: 0; }
  #fp-nav ul li, .fp-slidesNav ul li {
    margin: 0 7px 20px 0; }
  a.helpLink {
    top: 15%;
    right: 40%; }
  a.helpLink:before {
    bottom: calc(-1pt - -10px); }
  .helpLink:after {
    right: 40%; }
  #button-play2.play-button {
    top: 12%;
    left: 36%; }
  .play-button, .play-button img {
    width: 65px;
    height: 65px; }
  #section0 h1 {
    margin: -65px auto 15px auto;
    width: 70%;
    font-size: 2.8rem;
    line-height: 3rem; }
  #section0 h2 {
    margin: auto;
    width: 73%;
    font-size: 1.6rem;
    margin-bottom: 20px; }
  #section0 small {
    font-size: .6rem; }
  .below-video {
    bottom: 0;
    height: 18%; }
  .below-video ul {
    margin-top: 5px;
    margin-bottom: 3px;
    padding-left: 0; }
  .below-video ul li {
    font-size: 1rem;
    line-height: 1.6rem; }
  /* ------ 2nd panel ------*/
  #slide1 .two-two-col {
    display: block; }
  .nav-down-arrow {
    margin-top: 20px; }
  .col-one {
    margin-top: -90px;
    margin-bottom: 25px; }
  #v-two-panel .col-two {
    width: 100%; }
  .col-two {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    width: 76%; }
  #v-two-panel h1 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 2.3rem;
    line-height: 1.6rem; }
  #v-two-panel h3 {
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-bottom: .6rem; }
  #v-two-panel p {
    margin-bottom: 10px;
    font-size: .9rem;
    line-height: 1.3rem; }
  /* ------- 3rd panel ------- */
  #section2 .intro {
    margin-top: -120px; }
  #v-three-panel {
    width: 95vw;
    padding-top: 15px; }
  #v-three-panel .col-one {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 25px;
    margin-left: -15px; }
  #v-three-panel .col-two {
    width: 60%;
    padding: 0;
    margin: 0 auto; }
  #v-three-panel h1 {
    margin-bottom: 18px;
    font-size: 2.3rem;
    line-height: 1.2em; }
  #v-three-panel p {
    margin-bottom: 30px;
    font-size: 0.9rem;
    line-height: 1.4rem; }
  #v-three-panel p.bt {
    padding-left: 0; }
  button {
    width: 160px;
    margin-bottom: 34px;
    margin: inherit;
    border: 1px solid;
    font-size: 0.9rem;
    height: 30px; }
  footer {
    height: 90px;
    padding: 5px; }
  footer p {
    padding-left: 0;
    font-size: 6px !important;
    line-height: 8px !important; }
  ul.v-navigation {
    display: inline-table;
    width: 20%;
    margin-top: 8px;
    border-bottom: none; }
  ul.v-navigation li {
    display: block;
    width: 100%;
    border-bottom: none;
    line-height: 18px; }
  ul.v-navigation li.empty {
    display: none;
    height: 0; }
  .v-navigation a {
    padding: 0;
    font-size: 8px;
    border-bottom: none; }
  .v-navigation li:first-child a {
    border-top: none; } }

@media all and (min-width: 410px) and (max-width: 413px) {
  .fp-tableCell {
    height: 732px !important; }
  .below-video {
    height: 16%; }
  .below-video ul li {
    display: block; } }

/* -------------  landscape block. ----------- */
@media all and (min-width: 567px) and (max-width: 666px) {
  /* overall */
  #section2 .fp-tableCell {
    height: 651px !important;
    padding-top: 0;
    margin-top: 0; }
  #fp-nav.right {
    right: -260px; }
  /* ------- 2nd panel ------- */
  #slide1 .fp-tableCell {
    height: 320px; }
  #v-two-panel .col-two h1 {
    font-size: 2.3rem;
    line-height: 2rem; }
  #v-two-panel .col-two h3 {
    font-size: 1rem;
    margin-bottom: 10px; }
  /* ------- 3rd panel ------- */
  #section2 .intro {
    margin-top: -330px; }
  #v-three-panel {
    width: 100vw;
    padding-top: 15px; }
  #v-three-panel .col-one {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: -15px;
    margin-left: -15px; }
  img.laptop.showing.SDK.downloads.page {
    margin: 56px 14px 0 0; }
  #v-three-panel .col-two {
    width: 60vw;
    padding: 0;
    margin: 0 auto; }
  #v-three-panel h1 {
    margin-bottom: 0;
    font-size: 28px;
    line-height: 3.2rem; }
  p.bt {
    margin-top: 0;
    margin-bottom: 0; }
  #v-three-panel p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px; }
  button {
    margin-bottom: 0;
    margin-left: -38px;
    height: 30px;
    width: 180px;
    font-size: .95em; }
  footer {
    height: 90px;
    padding: 5px; }
  footer p {
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 12px;
    width: 70% !important;
    padding-left: 0;
    font-size: 7px !important;
    line-height: 9px !important; }
  ul.v-navigation {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 20%;
    margin-top: 8px; }
  ul.v-navigation li {
    margin-right: 20px;
    display: block;
    width: none;
    border-bottom: none;
    line-height: 18px; }
  ul.v-navigation li.empty {
    display: none;
    height: 0; }
  .v-navigation a {
    padding: 0;
    font-size: 8px;
    border-bottom: none; } }

@media all and (min-width: 667px) and (max-width: 736px) {
  #section2 .intro {
    margin-top: -350px; } }

@media all and (min-width: 667px) and (max-width: 736px) {
  /* overall */
  #section2 .fp-tableCell {
    height: 651px !important;
    padding-top: 0;
    margin-top: 0; }
  #fp-nav.right {
    right: -260px; }
  /* ------- 3rd panel ------- */
  #section2 .intro {
    margin-top: -330px; }
  #v-three-panel {
    width: 100vw;
    padding-top: 50px; }
  #v-three-panel .col-one {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: -15px;
    margin-left: -15px; }
  #v-three-panel picture {
    /*display: none;*/ }
  div.img-txt {
    margin-left: 15px; }
  img.laptop.showing.SDK.downloads.page {
    margin: 56px 35px 0 0; }
  #v-three-panel .col-two {
    padding: 0;
    margin: 0 auto; }
  #v-three-panel h1 {
    margin-bottom: 0;
    font-size: 28px;
    line-height: 3.2rem; }
  p.bt {
    margin-top: 0;
    margin-bottom: 0; }
  #v-three-panel p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px; }
  button {
    margin-bottom: 0;
    margin-left: -38px;
    height: 30px;
    width: 180px;
    font-size: .95em; }
  footer {
    bottom: 0;
    min-height: 100px;
    padding: 5px; }
  footer p {
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 12px;
    width: 70% !important;
    padding-left: 0;
    font-size: 7px !important;
    line-height: 9px !important; }
  ul.v-navigation {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 40%;
    margin-top: 8px; }
  ul.v-navigation li {
    margin-right: 20px;
    display: block;
    width: 40px;
    border-bottom: none;
    line-height: 14px; }
  ul.v-navigation li.empty {
    display: none;
    height: 0; }
  .v-navigation a {
    padding: 0;
    font-size: 8px;
    border-bottom: none; } }

@media all and (min-width: 414px) and (max-width: 767px) {
  .fp-tableCell {
    height: 736px !important; }
  .play-button {
    top: 20%; }
  #fp-nav.right {
    right: -120px; }
  #section0 h1 {
    margin-top: 45px;
    width: 80%; }
  #section0 h2 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .below-video {
    height: 16%; }
  .below-video ul li {
    display: block; } }

@media all and (min-width: 768px) and (max-width: 992px) {
  #fp-nav.right {
    right: -120px; }
  .pg1-container {
    max-width: 100%; }
  a.helpLink {
    top: 15%;
    right: 40%; }
  a.helpLink:before {
    bottom: calc(-1pt - -10px); }
  .helpLink:after {
    right: 40%; }
  #button-play2.play-button {
    top: 18%; }
  #button-play1.play-button {
    top: 18%; }
  #section0 h1 {
    margin: 80px auto 15px auto;
    width: 70%; }
  #section0 h2 {
    margin: auto;
    width: 73%;
    margin-bottom: 20px; }
  /* ------ 2nd panel ------*/
  #slide1 .two-two-col {
    display: block; }
  .nav-down-arrow {
    margin-top: 20px; }
  .col-one {
    margin-top: -110px;
    margin-bottom: 45px; }
  .col-two {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    width: 560px;
    margin: 0 auto; }
  #v-two-panel h1 {
    margin-top: 18px;
    margin-bottom: 24px;
    font-size: 3.3rem;
    line-height: 1.6rem; }
  #v-two-panel h3 {
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin-bottom: .8rem; }
  #v-two-panel p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.6rem; }
  /* end 2nd panel, start 3rd */
  #v-three-panel .col-two {
    margin-bottom: 80px; }
  #v-three-panel {
    margin-top: 60px; }
  #v-three-panel h1, #v-three-panel p {
    width: 86%; }
  #v-three-panel h1 {
    font-size: 3.3rem; }
  #v-three-panel p {
    font-size: 1.00rem;
    font-weight: 400;
    line-height: 1.67rem; } }

@media all and (min-width: 993px) and (max-width: 1024px) {
  #slide1 .two-two-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .col-one {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: -140px auto 25px auto; }
  .col-two {
    width: 560px;
    margin: 0 auto; } }

/* specific to iPhone 6 plus and below widths */
@media all and (min-width: 1px) and (max-width: 414px) {
  #section0 h1 {
    width: 80%;
    margin: -60px auto 15px auto;
    font-size: 2.8rem;
    line-height: 2.8rem; }
  .below-video ul {
    width: 65%;
    margin: 5px auto; } }

/* specific to iPhone 5 widths */
@media all and (min-width: 1px) and (max-width: 375px) {
  #button-play2.play-button {
    top: 10.5%; } }

@media all and (max-width: 414px) and (min-width: 375px) {
  #button-play2.play-button {
    left: 19%;
    top: 13%; } }

@media all and (min-width: 415px) and (max-width: 567px) {
  #v-three-panel {
    width: 70vw; }
  #v-three-panel h1 {
    margin-bottom: 18px;
    font-size: 2.3rem;
    line-height: 1.2em; }
  #v-three-panel p {
    margin-bottom: 30px;
    font-size: 0.9rem;
    line-height: 1.4rem; }
  footer {
    height: 126px; }
  footer p {
    padding-left: 0;
    font-size: 6px !important;
    line-height: 8px !important; }
  ul.v-navigation {
    display: inline-table;
    width: 20%;
    margin-top: 8px;
    border-bottom: none; }
  ul.v-navigation li {
    display: block;
    width: 100%;
    border-bottom: none;
    line-height: 18px; }
  .v-navigation li:first-child a {
    border-top: none; }
  .v-navigation a {
    padding: 0;
    font-size: 8px;
    border-bottom: none; }
  ul.v-navigation li.empty {
    display: none;
    height: 0; } }

@media all and (min-width: 10px) and (max-width: 789px) {
  #target-vid-modal.reveal-modal, .reveal-modal-bg {
    display: none;
    visibility: hidden !important;
    background-color: transparent !important; }
  #button-play1, #button-play1 a, #button-play1 a img {
    visibility: hidden;
    display: none;
    height: 0;
    width: 0; } }

@media all and (min-width: 768px) and (max-width: 789px) {
  .fp-tableCell {
    height: 1024px; } }

@media all and (min-width: 790px) and (max-width: 919px) {
  #target-vid-modal.reveal-modal {
    left: 0; }
  #button-play2, #button-play2 a, #button-play2 a img {
    visibility: hidden;
    display: none;
    height: 0;
    width: 0; } }

@media all and (min-width: 920px) and (max-width: 1199px) {
  #target-vid-modal.reveal-modal {
    left: 5%; }
  #button-play2, #button-play2 a, #button-play2 a img {
    visibility: hidden;
    display: none;
    height: 0;
    width: 0; } }

@media all and (min-width: 1042px) {
  #v-three-panel .col-two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  #v-three-panel .col-one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .play-button {
    left: 22.95vw; }
  #button-play2, #button-play2 a, #button-play2 a img {
    visibility: hidden;
    display: none;
    height: 0;
    width: 0; } }

/* deleting  arrows*/
.fp-controlArrow {
  top: -3060px; }

div#early-access .image__inner a:focus {
  outline-color: white; }
